<!--
     This launch file provides an example of how to work with GPS data using robot_localization. It runs three nodes:
       (1) An EKF instance that fuses odometry and IMU data and outputs an odom-frame state estimate
       (2) A second EKF instance that fuses the same data, but also fuses the transformed GPS data from (3)
       (3) An instance of navsat_transform_node, which takes in GPS data and produces pose data that has been
           transformed into your robot's world frame (here, map). The node produces a map-frame state estimate.

       The first EKF instance produces the odom->base_link transform. The second EKF produces the map->odom transform,
       but requires the odom->base_link transform from the first instance in order to do so. See the
       params/dual_ekf_navsat_example.yaml file for parameter specification.
-->

<launch>

  
  <rosparam command="load" file="$(find robot_localization)/params/ekf_imu_odom.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_odom" clear_params="true" respawn="true" respawn_delay="5">
    <remap from="odometry/filtered" to ="odom"/>
  </node>
<!--  
    <node pkg="tf2_ros" type="static_transform_publisher" name="ouster_2_base_link" args="0.25 0.0 1.55 0.0 1.047197551 0.0 base_link os1" />	
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_base_2_base_link" args="0.3 0 0.2 0 0 0 1 base_link laser_base" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_2_base_link" args="0.0 0 0.67 0 0 0 1 base_link imu_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="footprint_2_base_link" args="0.0 0 0.0 0 0 0 1 base_link robot_footprint" />
-->
</launch>

