<launch>
  <!-- Arguments -->


  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="map_file" default="$(find leo_navigation)/maps/map_pusta.yaml"/>

  <!-- leo -->
 <!-- <include file="$(find leo_description)/launch/description.launch"> -->
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <include file="$(find leo_navigation)/launch/rgbdslam_leo.launch">
   </include> 

  <!-- AMCL -->
 <!-- <include file="$(find leo_navigation)/launch/amcl.launch"/>  -->


  <!-- move_base -->
  <include file="$(find leo_navigation)/launch/move_base_no_map.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
   <include file="$(find leo_viz)/launch/rviz.launch">
   </include>

  <!-- Velocity -->
  <node pkg="leo_navigation" name="leo_navigation" type="Velocity_odometry" />

  <!-- localization -->
   <include file="$(find leo_localization)/launch/load_params.launch">
   </include>
    <node pkg="leo_localization" name="leo_localization" type="odometry_node" />


   <include file="$(find robot_localization)/launch/ekf_imu_odom.launch">
   </include> 
   <include file="$(find leo_navigation)/launch/voxel_grid_filter.launch">
   </include>

</launch>
